
{% extends 'layout/base.html' %}

{% block title %} Semi Project v1-Django :WRITE {% endblock %}
{% block style %}
        form div {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        form {
            width: 60%;
            margin: 65px auto 10px;
        }

        span { padding-left: 5px; }

        form label {
            display: inline-block;
            width: 70px;
            font-weight: bold;
            text-align: right;
        }

        .up {
            vertical-align: top;
            margin-top: 5px;
        }

{% endblock %}
{% block content %}
        <h2>본문글 수정하기</h2>
        <div id="write">
            <form name="boardfrm" method="post">
                {% csrf_token %}
                <div><label for="title">제목</label> <input type="text" name="title" id="title" value="{{ bd.title }}"></div>
                <div><label for="writer">작성자</label><span>{{ bd.member.userid }}</span></div>
                <div><label for="contents" class="up">본문</label>
                <textarea name="contents" id="contents" rows="10" cols="50" style="resize: none">{{ bd.contents }}</textarea>
                </div>
                <div><label></label>
                    <button type="button" id="mdfokbtn">수정완료</button>
                    <button type="button" >다시입력</button></div>
                <input type="hidden" name="bno" value="{{ bd.id }}"> <!-- form범위내에 숨겨서 넣으면 서버에 전송됨-->
                </form>
        </div>
{% endblock %}

{% block jscript %}
    <script>
    const mdfokbtn = document.querySelector('#mdfokbtn')
    mdfokbtn.addEventListener('click', () => {
        const title = document.boardfrm.title;
        const contents = document.boardfrm.contents;
        if (title.value == '') {
            alert('제목이 없다');
            title.focus();
            return;
        } else if (contents.value == '') {
            alert('내용이 없다');
            contents.focus();
            return;
        } else {
            document.boardfrm.submit();
        }
    });
    </script>
{% endblock %}